{ 
  "type": "<%= envtype %>", 
  "url": "/<%= envid %>/", 
  "version": "<%= version %>", 
  "info": "<%= envinfo %>",
  "properties":{
<% if @envdefault == true %>
    "default": "1"
<% end %>
  }
}

