$answer{'webservergroup'}   = '';
$answer{'db_host'}   = 'localhost';
$answer{'db_driver'} = 'mysql';
$answer{'db_port'}   = 0;
$answer{'db_name'}   = '<%= @bugz_dbname %>';
$answer{'db_user'}   = '<%= @bugz_user %>';
$answer{'db_pass'}   = '<%= @bugz_password %>';
$answer{'urlbase'} = '';
$answer{'ADMIN_OK'} = 'Y';
$answer{'ADMIN_EMAIL'} = 'admin@mylyn.eclipse.org';
$answer{'ADMIN_PASSWORD'} = 'main4Afo';
$answer{'ADMIN_REALNAME'} = 'Mylyn Admin';
$answer{'SMTP_SERVER'} = '';
$answer{'usetargetmilestone'} = '1';
$answer{'mail_delivery_method'} = 'None';
$answer{'useqacontact'} = '1';
$answer{'usestatuswhiteboard'} = '1';

$answer{'insidergroup'} = 'bz_canusewhineatothers';
<% if @custom_wf_and_status %>$answer{'duplicate_or_move_bug_status'} = 'CLOSED';<% end %>
<% if @usebugaliases %>$answer{'usebugaliases'} = '1';<% end %>
$answer{'NO_PAUSE'} = 1
