{ 
  "type": "<%= envtype %>",
  "url": "/<%= envid %>",
  "version": "<%= envversion %>",
  "info": "<%= envinfo_intern %>",
  "properties":{
<% if @envdefault           %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"default": "1"<% end %>
<% if @custom_wf            %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"custom_wf": "<%= custom_wf %>"<% end %>
<% if @custom_wf_and_status %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"custom_wf_and_status": "<%= custom_wf_and_status %>"<% end %>
<% if !@xmlrpc_enabled      %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"xmlrpc_enabled": "<%= xmlrpc_enabled %>"<% end %>
<% if @desciptorfile > " "  %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"desciptorfile": "<%= desciptorfile %>"<% end %>
<% if @usebugaliases        %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"usebugaliases": "<%= usebugaliases %>"<% end %>
<% if @rest_enabled         %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"rest_enabled": "<%= rest_enabled %>"<% end %>
    }
}
<% if @rest_enabled %>
,{ 
  "type": "bugzillaREST",
  "url": "/<%= envid %>",
  "version": "<%= envversion %>",
  "info": "<%= envinfo_intern %>",
  <% propertyanz = 0 -%>
  "properties":{
<% if @envdefault_rest      %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"default": "1"<% end %>
<% if @custom_wf            %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"custom_wf": "<%= custom_wf %>"<% end %>
<% if @custom_wf_and_status %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"custom_wf_and_status": "<%= custom_wf_and_status %>"<% end %>
<% if !@xmlrpc_enabled      %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"xmlrpc_enabled": "<%= xmlrpc_enabled %>"<% end %>
<% if @desciptorfile > " "  %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"desciptorfile": "<%= desciptorfile %>"<% end %>
<% if @usebugaliases        %><% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"usebugaliases": "<%= usebugaliases %>"<% end %>
                              <% if propertyanz.to_i > 0 %>   ,<% else %>    <% end %><% propertyanz = propertyanz.to_i -%><% propertyanz += 1 -%>"rest_enabled": "<%= rest_enabled %>"
    }
}
<% end %>